body {
    background-color: whitesmoke;
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
}


button {
    border-radius: 10%;
    color: grey;
    text-decoration: black;
    margin: 40px;
}

.button-atualizar{
    padding-left: center;
    font-family: 'Times New Roman', Times, serif;
}


.resultado{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}